body {
    background: url("../picture/maxresdefault.jpg");
    text-align: center;
    background-size: cover;
}

.buttons_go {
    margin-top: 21%;

}

.but {
    background-color: transparent;
    color: white;
    width: 15%;
    transition: 0.5s;
    border: none;
    font-family: "Trebuchet MS";
    font-size: 30px;
}

.but:hover{
    color: black;
    background-color: #928f83;
    /*opacity: .5;*/
}